[submodule "llvm"]
	path = llvm
	url = https://mirrors.tuna.tsinghua.edu.cn/git/llvm-project.git
	branch = release/19.x
	shallow = true
[submodule "pybind11"]
  path = thirdparty/pybind11
  url = https://github.com/pybind/pybind11.git
  branch = master
